---
import { getCollection } from "astro:content";

import data from "../../config/site.json";

import Default from "../../layouts/Default.astro";
import Update from "../../components/Update.astro";
import ReleaseCard from "../../components/ReleaseCard.astro";

function checkOrdering(a: any, b: any, ascendingOrder: boolean) {
    if (ascendingOrder) {
        return b.data.publishedOn.valueOf() - a.data.publishedOn.valueOf();
    } else {
        return a.data.publishedOn.valueOf() - b.data.publishedOn.valueOf();
    }
}

const releases = (await getCollection("releases")).sort(
    (a, b) => checkOrdering(a, b, data.config.releases.ascendingOrder),
);
---

<Default title=`Releases - ${data.details.project.title}`>
    <div>
        {
            data.authorUpdate.visible && data.authorUpdate.showEverywhere ? (
                <Update />
            ) : null
        }
    </div>
    <div class="mt-5">
        <h1>Releases</h1>
        <ul>
            {
                releases.map((release) => (
                    <ReleaseCard
                        id={release.id}
                        title={release.data.title}
                        date={release.data.publishedOn}
                    />
                ))
            }
        </ul>
    </div>
</Default>
