---
import data from "../config/site.json";

const today = new Date();
---

<footer class="text-subtext text-center mt-40">
    <p>&copy; {today.getFullYear()} {data.details.author.name}</p>
</footer>