---
import data from "../config/site.json";

import NavBar from "./NavBar.astro";
---

<div class="py-10 text-center">
    <div class="mb-20">
        <h1 class="pb-2">
            {data.details.project.title}
        </h1>
        <h2>
            {data.details.project.subtitle}
        </h2>
    </div>
    <hr>
    <NavBar />
    <hr>
</div>
