---
import NavLink from "./NavLink.astro";
---

<nav class="py-3">
    <NavLink href="/">Home</NavLink>
    <NavLink href="/releases">Releases</NavLink>
    <NavLink href="/author">About Me</NavLink>
</nav>