---
import NavLink from "./NavLink.astro";


---

<nav class="py-3">
    <NavLink href="/">Home</NavLink>
    <NavLink href="/chapters">Chapters</NavLink>
    <NavLink href="/author">About Me</NavLink>
</nav>