---
import data from '../config/site.json'

import NavLink from "./NavLink.astro";
---

<nav class="py-3">
    <NavLink href="/">Home</NavLink>
    <NavLink href="/releases">{data.config.releases.navBarName}</NavLink>
    <NavLink href="/author">About Me</NavLink>
</nav>