---
import * as updateMD from "../content/update.md";
import { Content as UpdateContent } from "../content/update.md";
---

<div class="bg-update text-update-text p-5 rounded-xl">
    <p class="text-3xl font-bold pb-3">{updateMD.frontmatter.header}</p>
    <UpdateContent />
</div>