---
import Meta from "../components/Meta.astro";
import Header from "../components/Header.astro";

const { title } = Astro.props;

import '../styles/global.css';
import '../config/variables.css';
---

<html lang="en">
	<Meta title={title} />
	<body class="bg-background px-[25rem]">
		<Header />
		<slot />
	</body>
</html>
